body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

#root {
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #333;
}
